* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000500;;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

header {
	padding: 40px 0;
}
  
header form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  }
  
header .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
  }
  
header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
  
header .categorias a {
	color: #9b9b9b;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}
  
header .categorias a.activo {
	color: #f3f3f3;
}

.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	transition: opacity 0.5s linear 1s;
}

.contenedor {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 20px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	border-radius: 4%;
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

/* Efecto blur al girar (desenfoque) */
.contenedor_tarjeta:hover figure img {
	filter:blur(8px);
}

figure {
	width: 300px;
	height: 350px;
	border-radius: 4%;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 4%;
	transition: all ease .5s;
}

/* Podemos ocultar la imagen al da la vuelta si lo queremos */
/*backface-visibility: hidden;*/
figure .frontal {
	display: block;
	background: #000;
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
}

/* Para dispositivos moviles o tables el evento de girar no funciona bien como cuando le pasas un cursor
por lo tanto mejor dejarlo fijo, sin mostrar la otra cara de la tarjeta.
Se agrega un nuevo efecto que es de opacidad cuando seleccionemos la que nos interese */
@media screen and (max-width: 992px) { 

	figure{
		opacity: .5;
	}

	figure:hover {
		opacity: 1;
	}

	.contenedor_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure img{
		filter:blur(0);
	}

}